<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=localhost;Initial Catalog=XP0_Core;User ID=coreuser;Password=e04LdEHgoM4GdmKZh5kT" />
  <add name="security" connectionString="Data Source=localhost;Initial Catalog=XP0_Core;User ID=securityuser;Password=mWvxu4tCUWPXTS9Oll05" />
  <add name="master" connectionString="Data Source=localhost;Initial Catalog=XP0_Master;User ID=masteruser;Password=OCNQpp4w5203AWBxADO0" />
  <add name="web" connectionString="Data Source=localhost;Initial Catalog=XP0_Web;User ID=webuser;Password=JY3oO7UxRxrSWoWyGIik" />
  <add name="messaging" connectionString="Data Source=localhost;Initial Catalog=XP0_Messaging;User ID=messaginguser;Password=nxpvOKM2Saf0Zp3k6Fyp" />
  <add name="xdb.marketingautomation" connectionString="Data Source=localhost;Initial Catalog=XP0_MarketingAutomation;User ID=marketingautomationuser;Password=zEAqedF32wyUNteIpxiJ" />
  <add name="xdb.processing.pools" connectionString="Data Source=localhost;Initial Catalog=XP0_Processing.Pools;User ID=poolsuser;Password=7CSSZmsVkkjVGAwOhK4N" />
  <add name="xdb.referencedata" connectionString="Data Source=localhost;Initial Catalog=XP0_ReferenceData;User ID=referencedatauser;Password=ParTgmaDDukRUK7cMnPN" />
  <add name="xdb.processing.tasks" connectionString="Data Source=localhost;Initial Catalog=XP0_Processing.Tasks;User ID=tasksuser;Password=FVT5ruhWzsVmJZAEtlii" />
  <add name="experienceforms" connectionString="Data Source=localhost;Initial Catalog=XP0_ExperienceForms;User ID=formsuser;Password=29uWQc4iwVn2dBdHaevf" />
  <add name="exm.master" connectionString="Data Source=localhost;Initial Catalog=XP0_EXM.Master;User ID=exmmasteruser;Password=EfSlZ3nu90lDQ7spHevL" />
  <add name="reporting" connectionString="Data Source=localhost;Initial Catalog=XP0_Reporting;User ID=reportinguser;Password=3wulpl46SFWyfYdxPFbp" />
  <add name="sitecore.reporting.client" connectionString="https://XP0.xconnect" />
  <add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=6FBF0FC910DF095D74DD4B428261D55F4FAEC084" />
  <add name="solr.search" connectionString="https://solr75:8983/solr" />
  <add name="sitecoreidentity.secret" connectionString="52L8aMMLqguCSes9TS9rMfAfYe2yN4XLbZa4q3vfHMhlCv4VCTh62p18cfXkSdNIvQQQXtel5q0Y7kchasE7W8RytmRaIqsHFkgG" />
  <add name="xconnect.collection" connectionString="https://XP0.xconnect" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=6FBF0FC910DF095D74DD4B428261D55F4FAEC084" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://XP0.xconnect" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=6FBF0FC910DF095D74DD4B428261D55F4FAEC084" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://XP0.xconnect" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=6FBF0FC910DF095D74DD4B428261D55F4FAEC084" />
  <add name="xdb.referencedata.client" connectionString="https://XP0.xconnect" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=6FBF0FC910DF095D74DD4B428261D55F4FAEC084" />
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
  <add name="EXM.CryptographicKey" connectionString="0x3974937567514707355883029877462946598892144173767682325033642466" />
  <add name="EXM.AuthenticationKey" connectionString="0x6286902885805683587332459752711951556260601234928273199755998911" />
</connectionStrings>