@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<header>
    <div class="rvt-header-global">
        <a class="rvt-header-global__skip-link" href="#main-content">Skip to main content</a>
        <div class="rvt-container rvt-container--center rvt-container--junior">
            <div class="rvt-header-global__inner">
                <h1>News at IU</h1>
            </div>
        </div>
    </div>
</header>