@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
    <div class="iu-project-common-section rvt-container rvt-container--center">

        @Html.Sitecore().DynamicPlaceholder("section")

    </div>